
@model List<WatchStoreMvcProject.Models.watch_data>
	<!--banner-starts-->
<div class="innerBody">
    <div id="home">
        <div id="top" class="callbacks_container">
            <ul class="rslides" id="slider4">
                <li>
                    <img src="~/images/cover1.jpg" alt="" />
                    <div class="slide_content">
                        <div class="slide_content_wrap">
                            <!-- Text title -->
                            <h1 class="title">Reliable<br>and affordable Products</h1>
                            <!-- /Text title -->

                        </div>
                    </div>
                </li>
                <li>
                    <img src="~/images/cover2.jpg" alt="" />
                    <div class="slide_content">
                        <div class="slide_content_wrap">
                            <h1 class="title">Stylish<br>Collection for Ladies</h1>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="~/images/cover3.jpg" alt="" />
                    <div class="slide_content">
                        <div class="slide_content_wrap">
                            <h1 class="title">Classy<br>Collection for Men</h1>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="clearfix"> </div>
    </div>
    <!--banner-ends-->
    <!--Slider-Starts-Here-->
    <script src="~/Scripts/js/responsiveslides.min.js"></script>
    <script>
        // You can also use "$(window).load(function() {"
        $(function () {
            // Slideshow 4
            $("#slider4").responsiveSlides({
                auto: true,
                pager: true,
                nav: true,
                speed: 500,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });

        });
    </script>
    <!--End-slider-script-->
    <!--about-starts-->

    <div class="about" id="para">
        <h2>Our Mission </h2><br />
        <p>
            DTW (Design in Time Watches) is a company that provides watches of all brands for men and women. we
            provide the faclity of online buying any provide that is currently available on our website! Our produces are of high
            quality and reliable. we beleive in quality is the backbone to establish customer supplier intimacy and we always
            try to gain the customer's trust by best quality and classy designed products.
        </p>

    </div>
    <!--about-end-->
    <!--product-starts-->
    <div class="product">
        <div class="container">
            <div class="product-top">
                <div class="product-one">
                    @foreach (var p in Model)
                        {
                    <div class="col-md-4 product-left p-left" id="productmargin">
                        <div class="product-main simpleCart_shelfItem">
                            <a href="~/Home/single?id=@p.model_number" class="mask"><img class="img-responsive zoom-img" src="~/images/@p.pic" alt="" /></a>
                            <div class="product-bottom">
                                <h3>@p.name</h3>
                                <p>Explore Now</p>
                                <h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">$ @p.price</span></h4>
                            </div>
                            <div class="srch">
                                <span>-50%</span>
                            </div>
                        </div>
                    </div>
                            }
                       
                    <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
	<!--product-end-->
	